<footer>
  <p>Developed by Fabricio Carrara&nbsp&nbsp
    <%= link_to image_tag("github-mark.png", class: "github-mark"), "https://github.com/fcarrara/flight-booker" , target: "_blank" %>
  </p>
</footer>